:root {
  --color-one: #5526fb;
  --color-two: #ffffff;
  --color-three: #6dfcd2;
  --color-three-hover: #a8f7df;
  --color-four: #7c59de;
  --color-four-hover: #8a71d0;
  --color-five: #f2f2f2;
  --color-six: #b2b2b2;
  --font-style-1: "Poppins", sans-serif;
  --font-style-2: sans-serif;
}
.header {
  grid-area: header;
  background-color: var(--color-one);
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 100vh;
  padding-left: 5%;
}
.logo {
  max-width: auto;
  max-height: 150px;
}
.header-titles {
  flex: 4 0 600px;
}

.title {
  font-family: var(--font-style-1);
  font-size: calc(2vw + 2em);
  padding: 2.5%;
  padding-left: 5%;
  font-weight: bolder;
  color: var(--color-two);
  flex-basis: auto;
  letter-spacing: 5px;
}

.sub-title {
  font-family: var(--font-style-1);
  font-size: calc(0.8vw + 0.8em);
  padding-top: 0;
  padding-bottom: 3%;
  padding-left: 5%;
  font-weight: bolder;
  color: var(--color-two);
  flex-basis: auto;
}

.get-started-btn {
  display: block;
  color: black;
  font-weight: bold;
  font-family: var(--font-style-1);
  text-align: center;
  text-decoration: none;
  line-height: 25px;
  width: 115px;
  height: 25px;
  background-color: var(--color-three);
  border-radius: 45px;
  padding: 10px;
  margin-left: 5%;
}
.get-started-btn:hover {
  background-color: var(--color-three-hover);
}
