.HistoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.history-item-title {
  margin-bottom: 0.5rem;
}

.poster {
  width: 250px;
}

.remove-btn {
  background: red;
  color: white;
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
}

.remove-btn:hover {
  background: rgb(124, 0, 0);
}
