:root {
  --color-one: #5526fb;
  --color-two: #ffffff;
  --color-three: #6dfcd2;
  --color-three-hover: #a8f7df;
  --color-four: #7c59de;
  --color-four-hover: #8a71d0;
  --color-five: #f2f2f2;
  --color-six: #b2b2b2;
  --font-style-1: "Poppins", sans-serif;
  --font-style-2: sans-serif;
}
