/* The switch - the box around the slider */
.switch {
	position: absolute;
	display: inline-block;
	width: 67px;
	height: 34px;
	top: 0;
	right: 0;
	margin-top: 30px;
	margin-right: 40px;
	
	border-radius: 50%;
	box-shadow: 0 0 0 0 var(--text-primary);
	transition:  all ease-in-out 350ms;
}

.switch:hover {
	box-shadow: 0 3px 22px -6px var(--text-primary);
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;

	display: flex;
}


.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 8px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--color-three);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--color-three);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}

/* Switch Icons */

.sun {
	margin: 5px 0 0 4.9px;
	color: var(--color-sun)
}

.moon {
	margin: 5px 4px 0 0;
	color: var(--color-moon);
}
