@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap");
:root {
  /* --color-one: #5526fb;
  --color-two: #ffffff;
  --color-four: #7c59de;
  --color-four-hover: #8a71d0;
  --color-seven: rgb(0, 0, 0);
  --background-sub-head: rgba(255, 255, 255, 0.8);
  --text-secondary: white;
  --color-sun: rgba(255, 255, 255, 0);
  --color-moon: rgb(90, 90, 90);
  --color-shade: rgba(0, 0, 0, 0.2); */

  --font-style-1: "Poppins", sans-serif;
  --font-style-2: sans-serif;
  --color-three: #7c59de;
  --color-three-hover: plum;
  --color-five: #f2f2f2;
  --color-six: #b2b2b2;
  --color-seven-opa: rgba(0, 0, 0, 0.6);
  --background: rgb(255, 255, 255);
  --text-primary: black;
  --text-tertiary: rgb(90, 90, 90);
}

.window-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--color-seven-opa); /* Fallback color*/
  /* background-color: var(--black-opa); Black w/ opacity */
}

.window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background);
  margin: 50px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--background);
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 12px;
}

.window-title {
  padding: 0 0 1em 0;
  font-family: var(--font-style-1);
}

/* The Close Button */
.close {
  color: var(--text-primary);
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: end;
}

.close:hover,
.close:focus {
  color: var(--text-tertiary);
  text-decoration: none;
  cursor: pointer;
}
